header{
    height: 100px;
    width: 100%;
    background-color: rgb(215, 215, 215);
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    margin-top: -100px;
    padding: 1rem 30rem;
}

.header__img{
    max-height: 10rem;
}
.nav__list{
    list-style-type: none;
    display: flex;
    gap: $size-xl;
    position:relative;
    &__link{
        text-decoration: none;
        font-size: 2em;
        font-weight: 600;
        color: black;
        padding: 1rem;
        transition: padding 1s;
    }
    & a:hover{
        color: $color-primario;
        transition: all 0.2s;
    }
    
}