.contenedor-politicas{
    margin: auto;
    max-width: 70%;

}

.titulo-encabezado{
    font-size: 3.5em;
    margin-top: 4rem;
    text-align: center;
    color: rgb(234, 172, 27);
}
.subtitulo-politicas{
    font-size: 2.4em;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.textoo{
    line-height: 1.6;
    font-size: 1.6em;
}

.textooo{
    margin-top: 5rem;
    font-size: 1.6em;
}
